<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grid Docker Test" verbose="3" parallel="tests" thread-count="10">

	<test name="Test Browser 1">
	<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="rough.GridTest">
			</class>
		</classes>
	</test> 
    <test name="Test Browser 2">
    <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="rough.GridTest">
            </class>
        </classes>
    </test> 
</suite> <!-- Suite -->
